body {
	margin: 0;
    padding: 0;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif !important;
    outline: red 1px;
}

button{
    outline:none;
}

.navbackground{
    position: fixed;
    width: 100%;
    z-index: 9;
    top: -100px;
    height: 80px;
    background-color: white;
}

.animation{
    animation: animate 1s forwards ease-in-out;
}

.removeanimation{
    animation: removeanimate 1s forwards ease-in-out;
}

@keyframes animate {
    from {top:-80px;}
    to {top:0px;}
}

@keyframes removeanimate {
    from {top:0px;}
    to {top:-80px;}
}

.navigator{
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}


#logo{
    text-align: center;
    width: 27%;
}

#navlist{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 60px;
    margin: 0;
    padding: 10px 40px;
}

#navlist li{
    float: left;
}


#navlist li .ref {
    color: #497abd;
    font-size: 15px;
    transition: 0.5s;
    text-decoration:none;
    line-height: 1;
    text-transform: uppercase;
}


.translate{
    border-style: solid;
    border-color:  #497abd;
    color:  #497abd;
    transition: 0.5s;
    border-width: 2px;
    padding: 5px 10px;
    border-radius: 15px;
}

.translate:hover{
    color: #8bbbff;
    border-color:  #8bbbff;
    cursor: pointer;
}



#navlist li .ref:hover, #menu li a:hover{
    color: #8bbbff;
    cursor: pointer;
}

#navlist li .ref:after{
    background-color:  #8bbbff;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
#navlist li .ref:hover:after{
    width: 100%;
}

#titleblock{
    background-image: url("../image/mountain.webp");
    height: 800px;
    background-size: cover;
    background-position: top;
}

#consultation{
    border-style: solid;
    border-color:  #497abd;
    background-color: transparent;
    color:  #497abd;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 15px;
    transition: 0.5s;
    text-transform: uppercase;
}

#consultation:hover{
    color: #8bbbff;
    border-color:  #8bbbff;
    cursor: pointer;
}

#thesis{
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.35);
    position: relative;
    top: 250px;
    margin: 0;
    max-height: 330px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.listinfo{
    width: 65%;
}

#thesis h4{
    color: white;
    font-size: 26px;
    margin: 20px 0;
    text-shadow: 3px 3px 2px rgb(0 0 0 / 50%);
}

#thesis h1{
    color: white;
    font-size: 60px;
    margin-bottom: 60px;
    text-shadow: 5px 5px 3px rgb(0 0 0 / 50%);
}

#thesis li h2, #consultationblock h2{
    color: white;
    background-color: #497abd;
    text-align: center;
    padding: 40px 50px;
    margin: 0;
}


#presentation, #portfolio{
    border-style: solid;
    border-color: #497abd;
    background-color: #497abd;
    color:  white;
    font-size: 24px;
    padding: 10px 15px;
    transition: 0.5s;
    text-decoration: none;
    text-shadow: 3px 3px 3px rgb(0 0 0 / 50%);
}

#presentation:hover{
    background-color: transparent;
    cursor: pointer;
}

.form{
    background-color: white;
    padding: 2.5%;
}

.forminput{
    padding: 10px;
    margin: 15px 7%;
    border: none;
    background-color: rgb(245, 245, 245);
    width: 80%;
    outline: 0;
    transition: 0.5s;
}


.requestinput:focus, .forminput:focus{
    box-shadow: 0px 0px 5px 5px rgba(73, 121, 189, 0.5);
}

.requestinput{
    padding: 10px 10px 50px 10px;
    resize: none;
    margin: 15px 7%;
    border: none;
    background-color: rgb(245, 245, 245);
    width: 80%;
    outline: 0;
    transition: 0.5s;
}

.formbutt{
    padding: 30px;
    width: calc(80% + 20px);
    margin: 20px 7%;
    border: none;
    background-color: #497abd;
    color: white;
    font-size: 20px;
    transition: 0.5s;
    outline: none;
}

.formbutt:hover{
    cursor: pointer;
    background-color: #8bbbff;
    transform: scale(1.04);
}

.text-error, .text-success, .text-error2, .text-success2{
    max-width: 250px;
    text-align: center;
    margin: auto;
    font-size: 18px;
    font-style: italic;
    padding: 10px 0;
    display: none;
}

.text-success, .text-success2{
    color: #8bbbff;
}

.text-error, .text-error2{
    color: red;
}

#orderconsultation{
    transform: translateY(-90px);
}

#aboutus{
    display: flex;
    justify-content: space-between;
}

.aboutinfo{
    width: 50%;
    margin-left: 150px;
    margin-top: 50px;
}

.aboutinfo h1 {
    font-size: 2.3em;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.aboutinfo h3{
    font-size: 1.5em
}


.aboutinfo ul{
    padding: 0 0 0 15px;
}

.aboutinfo ul li {
    opacity: 0.4;
    font-size: 1.1em;
}

.photo img{
    width: 60%;
    height: auto;
    margin-top: 65px;
    box-shadow: 0 0 10px 0px rgba(0 0 0 / 50%);
}

.photo{
    text-align: center;
}


#portfolio:hover, #portfolio_mob:hover{
    background-color: white;
    cursor: pointer;
    color: #497abd;
}

.attraction{
    width: 100%;
    background-color: #497abd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.attraction p{
    color: white;
    background-color: transparent;
    font-size: 26px;
    margin: 20px 10%;
}

.attraction button{
    border-style: solid;
    border-color:  white;
    background-color: transparent;
    color:  white;
    font-size: 22px;
    padding: 15px 30px;
    border-radius: 30px;
    margin: 20px 10%;
    transition: 0.5s;
}

.attraction button:hover{
    background-color: white;
    color:  #497abd;
    cursor: pointer;
}

#result{
    width: 100%;
    background-color: rgb(58, 58, 58);
    margin: 0;
    text-align:center;
    color: white;
    max-height: 750px;
}

#result h3{
    margin:auto;
    font-size: 26px;
    width: 50%;
    padding-top: 120px;
}


#result h2{
    margin:auto;
    font-size: 32px;
    width: 45%;
    padding-top: 40px;
}

#resultinfo{
    width: 40%;
    margin:auto;
    font-size: 18px;
    padding-top: 40px;
}

#resultlist{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding-top: 40px;
}

#resultlist li{
    width: 30%;
    margin: 30px;
    padding: 40px 10px;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2);
}


#resultlist li .num{
    font-size: 90px;
    margin: 0;
    padding-top: 30px;
}

#resultlist li .text{
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
    font-size: 18px;
}


#contacts{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
}

#contacts a img{
    transition: 0.5s;
}

#contacts a:hover img{
    filter: grayscale(100%) brightness(3); 
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding-bottom: 30px;
}

#backlayer{
    position: fixed;
    top: 0;
    right:0;
    left: 0;
    bottom: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

#helperlayer{
    width: 100%;
    height: 100%;
}


#consultationblock{
    position: absolute;
    width: 40%;
    margin: auto;
    top: 18%;
    left: 30%;
    background-color: white;
    z-index: 30;
}

#media{
    display: none;
}

#portfolio_mob{
    border-style: solid;
    border-color: #497abd;
    background-color: #497abd;
    color:  white;
    font-size: 25px;
    padding: 20px 0;
    margin: auto;
    transition: 0.5s;
    text-decoration: none;
    width: 65%;
    transform: translateY(-10px);
    display: none;
}


@media (max-width: 1060px){
    
    
    #media{
        display: inline;
    }
   
   
   
    .LogoType{
       width: 50%;
   }
   
    .navigator{
        display: none;
    }
   
    #menuToggle
    {
      display: block;
      position: relative;
      -webkit-user-select: none;
      user-select: none;
    }
   
    .link
    {
      text-decoration: none;
      color: #497abd;
      transition: color 0.3s ease;
      text-transform: uppercase;
    }

    
    .link:hover
    {
      color: tomato;
    }

    #consultation{
        font-size: 22px;
    }
    
    #menuToggle img{
        width: 100px;
        height: auto;
        position: fixed;
        z-index: 41;
        top: 15px;
        left: 20px;
    }

    #helplist{
        position: fixed;
        list-style: none;
        right: 75px;
        top: 29px;
        z-index: 41;
        margin: 0;
    }
    
    #menuToggle input
    {
      display: block;
      width: 40px;
      height: 28px;
      position: fixed;
      top: 23px;
      right: 30px;
      margin-left: 40px;
      
      cursor: pointer;
      
      opacity: 0;
      z-index: 42;
      
      -webkit-touch-callout: none;
    }
   
    #menuToggle span
    {
      display: block;
      width: 33px;
      height: 4px;
      position: fixed;
      background:  #497abd;
      border-radius: 3px;
      top: 38px;
      right: 30px;
      z-index: 41;
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
   
    #menuToggle span:first-of-type{
        top: 29px;
    }
    
    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
      top: 47px;
    }
   
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background:  #497abd;
    }
   
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }
   
   
    #menu
    {
      position: fixed;
      width: 100%;
      margin: -100px 0 0 0;
      padding-bottom: 50px;
      padding-top: 80px;
      padding-left: 0;
      background: #ffffff;
      list-style-type: none;
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      z-index: 40;
      top: 80px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
   
   .List
    {
      text-align: center;
      padding: 20px 0;
      font-size: 22px;
    }
   
    #LogoList
    {
      text-align: center;
      padding: 20px 0;
      font-size: 22px;
    }
   
    .FirstList
    {
      text-align: center;
      padding-top: 20px;
      
      font-size: 22px;
    }
   
    .list
    {
      text-align: center;
      padding: 0;
    }
   
    #menuToggle input:checked ~ ul
    {
      transform: none;
    }
   
    #consultationblock{
        width: 80%;
        left: 10%;
    }

    #portfolio{
        display: none;
    }

    #titleblock{
        height: 1200px;
    }

    #thesis{
        justify-content: center;
        flex-wrap: wrap;
        max-height: none;
        top: 150px;
    }

    #thesis h1{
        font-size: 40px;
    }

    #thesis li h2, #consultationblock h2{
        padding: 40px 0;
    }

    .listinfo{
        width: 100%;
    }

    #orderconsultation{
        transform: translateY(90px);
        width: 90%;
    }

    #presentation, #portfolio{
        font-size: 20px;
    }
    
    #aboutus{
        justify-content: center;
    }

    .aboutinfo{
        width: 90%;
        margin-left: 0;
        margin-top: 50px;
    }

    #aboutus{
        flex-wrap: wrap;
    }

    .photo{
        width: 80%;
    
    }
    
    .photo img{
        width: 100%;
        height: auto;
        margin-top: 65px;
    }

    #result {
        max-height: 1480px;
    }

    #result h3{
        width: 90%;
    }
    
    
    #result h2{
        width: 80%;
    }
    
    #resultinfo{
        width: 80%;

    }

    #resultlist{
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    #resultlist li{
        width: 90%;
    }
    .attraction{
        justify-content: center;
        flex-wrap: wrap;
    }

    .attraction p{
        font-size: 15px;
    }

    .attraction button{
        font-size: 18px;
    }

    #portfolio_mob{
        width: calc(100% - 2.4px);
        display: block;
    }

}   

@media (max-width: 720px){
    #contacts a img{
        margin-top: 50px;
    }

    #contacts{
        justify-content: center;
        flex-wrap: wrap;
    }

    .attraction button{
        font-size: 12px;
        margin-top: 0;
    }

    #result {
        max-height: 1700px;
    }
    #thesis{
        padding: 20px;
    }

    #orderconsultation{
        transform: translateY(90px);
        width: 100%;
    }

}

@media (max-width: 1500px) and (min-width: 1060px){
    #portfolio_mob{
        display: block;
        width: calc(65% - 2.4px);
    }

    #portfolio{
        display: none;
    }
}
